#bio {
    justify-content: start;
}

#mountains {
    height: 100%;
    max-width: 90%;
    border: 1px solid black
}

#img_container > img{
    width: 295px;
    margin-right: 2.5px;
    margin-left: 2.5px;
    justify-content: space-between;
    border: 2px dotted black;
}

@media screen and (min-width: 680px) {
    #bio > p {
      width: 80%;
    }
  }