#welcome > img {
    width: 80%;
}

#welcome > h2 {
    margin-top: 0;
}

@media screen and (min-width: 680px) {
    #welcome > img {
        width: 26%;
    }
}

@media screen and (max-height: 560px) {
    #welcome {
        justify-content: start;
    }
}