#name {
    display: flex;
    align-items: center;
}

#name > img {
    width: 240px;
}

#name > span {
    font-size: 20px;
    padding-bottom: 8px;
}

.MuiSlider-root {
    color: white !important;
    margin-top: -15px;
}

.MuiSlider-track {
    height: 0 !important;
}

.MuiSlider-markLabel {
    top: 30px !important;
}

header a {
    color: white !important;
}

@media screen and (min-width: 680px) {
    #name > img {
        width: 300px;
    }

    #name > span {
        font-size: 30px;
        padding-bottom: 8px;
    }
}