#name {
    display: flex;
    align-items: center;
}

#name > img {
    width: 240px;
}

#name > span {
    padding-bottom: 5px;
}

.MuiSlider-root {
    color: white !important;
    margin-top: -15px;
}

.MuiSlider-track {
    height: 0 !important;
}

.MuiSlider-markLabel {
    top: 30px !important;
}

a {
    color: white;
}