#TwentyFortyEight {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
 text-align: center;
}

#grid {
  display: flex;
  flex-flow: row wrap;
  width: 75%;
  align-self: center;
}

#grid > div {
  display: flex;
  border: 1px solid black;
  width: 25%;
  height: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
}